<div class="location-block">
  <div class="city">City: {{ data.city }}</div>
  <div class="country">Country: {{ data.country }}</div>
  <div class="time">Current Date and Time: {{ data.current_time }}</div>
</div>
